body {
   background-image: url("https://drive.google.com/file/d/1R0ZdsB0c5jhzW5J2PtV5mgDa6eEQgOa3/view");
}


h1 {

 font-size: 35px;
 text-align: center;
 font-family: monospace;
 color: black;
 padding-top: 20px;
 padding-bottom: 30px;
}


h2{
padding-left: 168px;
margin-top:0px;
}


h3{
padding-top: 15px;
padding-left: 170px;
padding-right: 0px;
}

h4{

}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
 padding-left: 20px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.firstslides {
  display:inline;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}







h5{

}

h6{

}

#sec1{

}

#sec2 {
   text-align: center; color: black; font-size: 60;
}

#sec2 > a {
    font-size: 20px;
    font-family: monospace;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;

}

a:link {
  font-size:17px;
  color: black;
}

a:visited {
  font-size:17px;
  color: black;
}

a:hover {
    color: navy;
}
