body {

}


h1 {

 font-size: 35px;
 text-align: center;
 font-family: monospace;
 color: black;
 padding-top: 20px;
 padding-bottom: 30px;

}


h2{

}


h3{
  margin-top:0px;
  font-size: 16px;
  text-align: center;
  font-family: monospace;
  color: black;
}

h4{
  margin-top:0px;
  font-size: 16px;
  text-align: center;
  font-family: monospace;
  color: black;
}

h5{
  padding-top: 40px;
  font-size: 23px;
  text-align: center;
  font-family: monospace;
  color: black;
}

h6{

}

#sec1{

}

#sec2 {
   text-align: center; color: black; font-size: 60;
}

#sec2 > a {
    font-size: 20px;
    font-family: monospace;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;

}

a:link {
  font-size:17px;
  color: black;
}

a:visited {
  font-size:17px;
  color: black;
}

a:hover {
    color: navy;
}
